<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= message %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post" action="/login">
      <input type="email" placeholder="E-mail" name="email">
      <input type="password" placeholder="Jelszó" name="password">
      <input type="submit" value="Bejelentkezés">
    </form>
    <a href="./register">Tovább a regisztrációra</a>
    <p><%= message %></p>
</body>
</html>
